
@model Ogrenci


<p>


    <b> @Model.OgrenciAd @Model.OgrenciSoyad </b> adlı öğrenciyi silmek istiyor musunuz?


    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="@Model.Id" />
    <button type="submit" class="btn btn-danger">Evet</button>
    <a asp-action="Index" class="btn btn-primary">Vazgeç</a>
    </form>
</p>


